@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    outline: 0;
}
body {
        background-color: #edf0f1;
}
::selection {
    background-color: #1a9f6a;
    color: white;
}
li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #24252a;
    text-decoration: none;
}
i {
    color: #edf0f1;
}
header img {
    width: 60px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.logo {
    cursor: pointer;
}
.nav-links {
    list-style: none;
}
.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a {
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
    color: #1a9f6a;
}
i {
    padding: 9px 25px;
    background-color: rgba(0,169,96,0.7);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
i:hover {
    background-color: rgba(0,169,96,0.4); 
}
.heading h1 {
    color: #24252a;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 2em;
}
.container{
    animation: transitionIn 0.5s;

}
.gradestable table {
    margin-left:auto;
    margin-right:auto;
    margin-top: 120px;
    width: 468px;
    height: 282px;
    background: #fafafa;
    border-collapse:collapse ;
    text-align: center;
    border-spacing: 0;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    box-shadow: 0 5px 12px rgba(32, 32, 32, .3) ;
}
.gradestable td , .gradestable th {
    border: 1px solid rgba(32, 32, 32, .3);
}
.gradestable th {
    background-color: #1a9f6a;
    color: #fafafa;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
}
.gradestable td {
    font-family: "Open Sans", sans-serif;
}
.gradestable tr:nth-child(odd) {
    background-color: #eeeeee;
}
@keyframes transitionIn {

    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }
}