@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body {
        background-color: #edf0f1;
}
::selection {
    background-color: #1a9f6a;
    color: white;
}
li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #24252a;
    text-decoration: none;
}
i {
    color: #edf0f1;
}
header img {
    width: 60px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.logo {
    cursor: pointer;
}
.nav-links {
    list-style: none;
}
.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a {
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
    color: #1a9f6a;
}
i {
    padding: 9px 25px;
    background-color: rgba(0,169,96,0.7);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
i:hover {
    background-color: rgba(0,169,96,0.4); 
}
.heading h1 {
    color: #24252a;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 2em;
}
.nav {
    width: 932px;
    height: 50px;
    background-color: #b6b6b6;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
}
.nav-text {
    list-style: none;
}
.nav-text p {
    display: inline-block;
    padding: 0px 20px;
    position: relative;
    bottom: -13.5px;
    right: -200px;
}
.nav-text p a {
    transition: all 0.3s ease 0s;
}
.nav-text p a:hover {
    color: #1a9f6a;
}
.container{
    animation: transitionIn 0.5s;

}
@keyframes transitionIn {

    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }
}